* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'BubbleGum';
  src: url("../Bubblegum.ttf");
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  z-index: 1;
  background: #FFF;
}

#header .menu-container {
  display: none;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  -ms-flex-preferred-size: 56px;
      flex-basis: 56px;
}

#header .menu-container .menu-span:hover {
  cursor: pointer;
}

#header section#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 6vw;
}

#header section#title img {
  width: 161px;
  height: 59px;
}

#header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 219px;
  margin-right: 6vw;
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

#header nav ul span:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  #header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5vw;
  }
  #header section#title {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 5vw;
    text-align: right;
  }
  #header nav {
    display: none;
  }
}

.container {
  min-height: 722px;
  min-width: 320px;
  background-color: #F8F8F8;
}

.container-menu {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .container-menu {
    min-height: 722px;
    height: auto;
    overflow: auto;
  }
}

.section {
  min-height: 722px;
  height: 100vh;
}

.pressed-tab {
  text-decoration: underline;
}

.section-book {
  height: calc( 100vh - 96px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F8;
  z-index: 1;
}

.section-book .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.section-book .text .text-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 376px;
  position: relative;
  top: -4%;
  left: 208px;
}

.section-book .text .text-wraper .text-title {
  font-family: BubbleGum;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 42px;
  width: 376px;
  margin-bottom: 29px;
}

.section-book .text .text-wraper p.text-content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 39px;
}

.section-book .text .text-wraper .btn {
  width: 248px;
  height: 88px;
  background: #F2E617;
  border-radius: 30px;
  border: none;
  outline: 0;
}

.section-book .text .text-wraper .btn span {
  font-family: BubbleGum;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.section-book .text .text-wraper .btn:hover {
  cursor: pointer;
  background: #d4cb1e;
}

.section-book .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  z-index: 1;
}

.section-book .images .img-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 626px;
  width: 692px;
  position: relative;
  top: 0px;
  right: 135px;
}

.section-book .images .img-wraper .main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 626px;
  width: 692px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

.section-book .images .img-wraper .first-circle {
  position: absolute;
  top: 251px;
  right: 0px;
  z-index: 1;
  height: 341px;
  width: 341px;
}

.section-book .images .img-wraper .second-circle {
  position: absolute;
  top: 23px;
  right: 366px;
  height: 209px;
  width: 209px;
}

.section-book .images .img-wraper .ladybug1 {
  position: absolute;
  bottom: 165px;
  right: 16px;
  z-index: 2;
  height: 63px;
  width: 65px;
}

.section-book .images .img-wraper .paramecium {
  position: absolute;
  top: 23px;
  right: 71px;
  z-index: 2;
  height: 95px;
  width: 110px;
}

.section-book .images .img-wraper .ladybug2 {
  position: absolute;
  bottom: 272.5px;
  right: 470.5px;
  z-index: 2;
  height: 92.5px;
  width: 124.5px;
}

.section-book .images .img-wraper .redCircle {
  position: absolute;
  top: 450px;
  right: 360px;
  z-index: 2;
  height: 89.38px;
  width: 89.38px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.section-book .images .img-wraper picture {
  width: 100%;
}

.section-book .images .img-wraper picture img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1350px) {
  .section-book .text .text-wraper {
    left: 80px;
  }
  .section-book .images .img-wraper {
    right: 80px;
  }
}

@media screen and (max-width: 1120px) {
  .section-book .text .text-wraper {
    width: 275px;
  }
  .section-book .text .text-wraper .text-title {
    font-size: 30px;
    line-height: 36px;
    width: 270px;
  }
  .section-book .text .text-wraper p.text-content {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 35px;
  }
  .section-book .text .text-wraper .btn {
    width: 250px;
    height: 70px;
    background: #F2E617;
    border-radius: 20px;
  }
  .section-book .text .text-wraper .btn img {
    width: 100px;
    height: 14px;
  }
  .section-book .images .img-wraper {
    height: 550px;
    width: 530px;
  }
  .section-book .images .img-wraper .main-img {
    width: 100%;
    height: 100%;
  }
  .section-book .images .img-wraper .first-circle {
    top: 265px;
    right: 30px;
    height: 192px;
    width: 192px;
  }
  .section-book .images .img-wraper .second-circle {
    top: 55px;
    right: 290px;
    height: 145px;
    width: 145px;
  }
  .section-book .images .img-wraper .ladybug1 {
    bottom: 185px;
    right: 40px;
    height: 35px;
    width: 35px;
  }
  .section-book .images .img-wraper .paramecium {
    top: 50px;
    right: 68px;
    height: 59px;
    width: 70px;
  }
  .section-book .images .img-wraper .ladybug2 {
    bottom: 240px;
    right: 365px;
    z-index: 10;
    height: 65px;
    width: 85px;
  }
  .section-book .images .img-wraper .redCircle {
    top: 380px;
    right: 255px;
    height: 72px;
    width: 72px;
  }
  .section-book .images .img-wraper img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .section-book .text .text-wraper {
    left: 50px;
  }
  .section-book .images .img-wraper {
    height: 439px;
    width: 414px;
    right: 50px;
  }
  .section-book .images .img-wraper .first-circle {
    top: 175px;
  }
  .section-book .images .img-wraper .second-circle {
    top: 45px;
    right: 200px;
  }
  .section-book .images .img-wraper .ladybug1 {
    bottom: 145px;
    right: 16px;
  }
  .section-book .images .img-wraper .paramecium {
    top: 40px;
    right: 35px;
  }
  .section-book .images .img-wraper .ladybug2 {
    bottom: 187px;
    right: 278px;
  }
  .section-book .images .img-wraper .redCircle {
    top: 295px;
    right: 185px;
  }
}

@media screen and (max-width: 800px) {
  .section-book .text .text-wraper {
    left: 10px;
  }
  .section-book .images .img-wraper {
    right: 10px;
  }
}

@media (max-width: 700px) {
  .section {
    height: 100%;
  }
  .section-book {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 950px;
  }
  .section-book .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-book .text .text-wraper {
    left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .section-book .text .text-wraper .text-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 303px;
  }
  .section-book .text .text-wraper p.text-content {
    text-align: center;
    font-size: 22px;
    line-height: 36px;
  }
  .section-book .text .text-wraper .btn {
    width: 175px;
  }
  .section-book .text .text-wraper .btn span {
    font-size: 15px;
    line-height: 15px;
  }
  .section-book .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .section-book .images .img-wraper {
    width: 100%;
    height: 439px;
    padding-bottom: 40px;
    right: 0px;
  }
  .section-book .images .img-wraper .main-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 485px;
    height: 439px;
  }
  .section-book .images .img-wraper .first-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% + 140px), calc(-50% + 40px));
            transform: translate(calc(-50% + 140px), calc(-50% + 40px));
  }
  .section-book .images .img-wraper .second-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% - 120px), calc(-50% - 120px));
            transform: translate(calc(-50% - 120px), calc(-50% - 120px));
  }
  .section-book .images .img-wraper .ladybug1 {
    display: none;
  }
  .section-book .images .img-wraper .paramecium {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% + 150px), calc(-50% + 25px));
            transform: translate(calc(-50% + 150px), calc(-50% + 25px));
  }
  .section-book .images .img-wraper .ladybug2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% - 145px), calc(-50% - 105px));
            transform: translate(calc(-50% - 145px), calc(-50% - 105px));
  }
  .section-book .images .img-wraper .redCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% - 135px), calc(-50% + 105px));
            transform: translate(calc(-50% - 135px), calc(-50% + 105px));
  }
}

.section-contact {
  height: calc(100vh - 96px);
  min-height: 626px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 95px 10px;
  margin: auto;
  z-index: 1;
  background-color: #F8F8F8;
  overflow: hidden;
}

.section-contact .text-box {
  width: 700px;
  height: 473px;
  position: relative;
}

.section-contact .text-box .title {
  font-family: BubbleGum;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 42px;
  width: 184px;
  margin-bottom: 31px;
}

.section-contact .text-box .content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
}

.section-contact .text-box .images-wraper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.section-contact .text-box .images-wraper .circleBig {
  height: 248px;
  width: 248px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% + 267px), calc(-50% - 102px));
          transform: translate(calc(-50% + 267px), calc(-50% - 102px));
}

.section-contact .text-box .images-wraper .circleSmall {
  height: 157px;
  width: 157px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 390px), calc(-50% - 5px));
          transform: translate(calc(-50% - 390px), calc(-50% - 5px));
}

.section-contact .text-box .images-wraper .ladybug-1 {
  height: 71px;
  width: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 66px), calc(-50% + 212px));
          transform: translate(calc(-50% - 66px), calc(-50% + 212px));
}

.section-contact .text-box .images-wraper .ladybug-2 {
  height: 116px;
  width: 156px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% + 230px), calc(-50% + 193px));
          transform: translate(calc(-50% + 230px), calc(-50% + 193px));
}

.section-contact .text-box .images-wraper .paramecium-contact {
  height: 111px;
  width: 129px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% + 388px), calc(-50% - 27px));
          transform: translate(calc(-50% + 388px), calc(-50% - 27px));
}

.section-contact .text-box .images-wraper .red-circle-contact {
  height: 110px;
  width: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 488px), calc(-50% - 165.5px)) rotateZ(-30deg);
          transform: translate(calc(-50% - 488px), calc(-50% - 165.5px)) rotateZ(-30deg);
}

.section-contact .text-box .images-wraper img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .section-contact {
    min-height: calc( 100vh - 96px);
    height: 806px;
  }
  .section-contact .text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 335px;
    height: 581px;
  }
  .section-contact .text-box .content {
    text-align: center;
    font-size: 20px;
    line-height: 34px;
  }
  .section-contact .text-box .images-wraper .circleBig {
    -webkit-transform: translate(calc(-50% + 237px), calc(-50% - 132px));
            transform: translate(calc(-50% + 237px), calc(-50% - 132px));
  }
  .section-contact .text-box .images-wraper .circleSmall {
    -webkit-transform: translate(calc(-50% - 200px), calc(-50% + 100px));
            transform: translate(calc(-50% - 200px), calc(-50% + 100px));
  }
  .section-contact .text-box .images-wraper .ladybug-1 {
    -webkit-transform: translate(calc(-50% - 185px), calc(-50% + 260px));
            transform: translate(calc(-50% - 185px), calc(-50% + 260px));
  }
  .section-contact .text-box .images-wraper .ladybug-2 {
    -webkit-transform: translate(calc(-50% + 125px), calc(-50% + 350px));
            transform: translate(calc(-50% + 125px), calc(-50% + 350px));
  }
  .section-contact .text-box .images-wraper .paramecium-contact {
    height: 83px;
    width: 96px;
    -webkit-transform: translate(calc(-50% + 180px), calc(-50% + 225px));
            transform: translate(calc(-50% + 180px), calc(-50% + 225px));
  }
  .section-contact .text-box .images-wraper .red-circle-contact {
    height: 89px;
    width: 89px;
    -webkit-transform: translate(calc(-50% - 140px), calc(-50% + 340px)) rotateZ(-30deg);
            transform: translate(calc(-50% - 140px), calc(-50% + 340px)) rotateZ(-30deg);
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F2E617;
  z-index: -1;
}

.menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.menu .content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  height: 88px;
  width: 100%;
}

.menu .content nav .back-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 34px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.menu .content nav .back-container span:hover {
  cursor: pointer;
}

.menu .content nav .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 37px;
}

.menu .content nav .menu-title img {
  width: 104px;
  height: 36px;
}

.menu .content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.menu .content section ul {
  list-style: none;
}

.menu .content section ul li {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
}

.menu .content section ul li span:hover {
  cursor: pointer;
}

.menu-display {
  z-index: 3;
}

@media screen and (min-width: 700px) {
  .menu-display {
    z-index: -1;
  }
}
/*# sourceMappingURL=style.css.map */