* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 300px;
  height: 722px;
  min-height: 100vh;
  margin: auto;
}

#container {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 96px;
  background-color: #ffffff;
}

#container header .menu-container {
  display: none;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

#container header .menu-container .menu:hover {
  cursor: pointer;
}

#container header section#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  margin-left: 5vw;
  margin-right: 1vw;
}

#container header section#title img {
  width: 161px;
  height: 59px;
}

#container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#container header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5vw;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

#container header nav ul li {
  padding: 5px;
  margin: auto;
}

#container header nav ul li span:hover {
  cursor: pointer;
}

@media (max-width: 840px) {
  #container header nav ul li {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media (max-width: 700px) {
  #container header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 3vw;
  }
  #container header section#title {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 3vw;
  }
  #container header nav {
    display: none;
  }
}

.wraper-sections {
  min-height: calc( 100vh - 96px);
  position: relative;
}

.section {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  position: absolute;
}

.wraper-sections > section:nth-child(1) div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.wraper-sections > section:nth-child(1) div .text-wraper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wraper-sections > section:nth-child(1) div .text-wraper .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 376px;
  position: relative;
  top: 0%;
  left: 203px;
}

.wraper-sections > section:nth-child(1) div .text-wraper .text div {
  height: 84px;
  width: 376px;
  margin-bottom: 29px;
}

.wraper-sections > section:nth-child(1) div .text-wraper .text p.text-content {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 35px;
}

.wraper-sections > section:nth-child(1) div .text-wraper .text .btn {
  width: 248px;
  height: 88px;
  background: #F2E617;
  border-radius: 100px;
}

.wraper-sections > section:nth-child(1) div .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  height: 100%;
  padding-right: 125px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper {
  position: relative;
  left: 0%;
  top: 0%;
  height: 626px;
  width: 692px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .main-img {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  height: 626px;
  width: 692px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .first-circle {
  position: absolute;
  top: 251px;
  right: 0px;
  z-index: 1;
  height: 341px;
  width: 341px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .second-circle {
  position: absolute;
  top: 23px;
  right: 366px;
  height: 209px;
  width: 209px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .ladybug1 {
  position: absolute;
  bottom: 165px;
  right: 16px;
  z-index: 2;
  height: 63px;
  width: 65px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .paramecium {
  position: absolute;
  top: 23px;
  right: 71px;
  z-index: 2;
  height: 95px;
  width: 110px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .ladybug2 {
  position: absolute;
  bottom: 242.5px;
  right: 470.5px;
  z-index: 2;
  height: 92.5px;
  width: 124.5px;
}

.wraper-sections > section:nth-child(1) div .images .img-wraper .redCircle {
  position: absolute;
  top: 450px;
  right: 320.9px;
  z-index: 2;
  height: 89.38px;
  width: 89.38px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.wraper-sections > section:nth-child(1) div .images .img-wraper img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1300px) {
  .text {
    left: 100px !important;
  }
  .images {
    padding-right: 50px !important;
  }
}

@media (max-width: 1120px) {
  .text {
    left: 40px !important;
  }
  .images {
    padding-right: 10px !important;
  }
  .img-wraper {
    left: -13% !important;
  }
}

@media (max-width: 990px) {
  .text {
    left: 5px !important;
  }
  .images {
    padding-right: 5px !important;
  }
  .img-wraper, .text-wraper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .img-wraper {
    left: -20% !important;
  }
}

@media (max-width: 890px) {
  .text {
    left: 0px !important;
  }
  .images {
    padding-right: 3px !important;
  }
  .img-wraper, .text-wraper {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .img-wraper {
    left: -35% !important;
  }
}

@media (max-width: 750px) {
  .first-circle {
    right: 10% !important;
  }
  .ladybug1 {
    right: 75px !important;
  }
}

@media (max-width: 700px) {
  .wraper-sections > section:nth-child(1) div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
  }
  .text-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-wraper .text {
    margin-top: 0px;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .text-wraper .text p.text-content {
    text-align: center;
  }
  .img-wraper {
    left: 0% !important;
  }
}

.current {
  z-index: 3;
}

#menu {
  position: absolute;
  width: 100%;
  background-color: #F2E617;
}

#menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#menu .content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  height: 88px;
  width: 100%;
}

#menu .content nav .back-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 34px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

#menu .content nav .back-container span:hover {
  cursor: pointer;
}

#menu .content nav .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 37px;
}

#menu .content nav .menu-title img {
  width: 104px;
  height: 36px;
}

#menu .content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

#menu .content section ul li {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
}

#menu .content section ul li span:hover {
  cursor: pointer;
}

.show-menu {
  z-index: 2;
}

@media (min-width: 700px) {
  .show-menu {
    z-index: 0;
  }
}

.pressed-tab {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */