#header
    display: flex
    height: 96px
    z-index: 1
    background: #FFF
    .menu-container
        display: none
        .menu-span
            &:hover
                cursor: pointer
            i
                font-size: 45px
                color: black

    section#title
        display: flex
        align-items: center
        flex-grow: 1
        margin-left: 6vw
        img
            width: 161px
            height: 59px
    nav
        display: flex
        align-items: center
        justify-content: center
        width: 219px
        margin-right: 6vw
        ul
            display: flex
            justify-content: space-between
            flex-grow: 1
            list-style: none
            font-family: Inter
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 28px
            span
                &:hover
                    cursor: pointer

@media ( max-width: 700px)
    #header
        .menu-container
            display: flex
            align-items: center
            justify-content: center
            margin-left: 5vw
        section#title
            justify-content: flex-end
            margin-right: 5vw
            text-align: right
        nav
            display: none