.menu
    position: absolute
    top: 0
    left: 0
    width: 100%
    background-color: #F2E617
    z-index: -1
    .content
        display: flex
        flex-direction: column
        height: 100vh
        nav
            display: flex
            top: 0px
            left: 0px
            height: 96px
            width: 100%
            .back-container
                display: flex
                align-items: center
                justify-content: center
                padding: 5vw
                span
                    &:hover
                        cursor: pointer
                    i
                        font-size: 50px
                        color: black
            .menu-title
                display: flex
                align-items: center
                justify-content: flex-end
                flex-grow: 1
                margin-right: 37px
                img
                    width: 104px
                    height: 36px
        section
            display: flex
            align-items: center
            justify-content: center
            flex-grow: 1
            height: 100%
            ul
                list-style: none
                li
                    font-family: Arial
                    font-style: normal
                    font-weight: bold
                    font-size: 32px
                    line-height: 65px
                    text-align: center
                    span:hover
                        cursor: pointer

.menu-display
    z-index: 3
@media screen and ( min-width: 700px )
    .menu-display
        z-index: -1

