.wraper-sections
    height: calc( 100vh - 108px)
.section
    width: calc(100vw-20px)
    height: 100%
    background-color: #F8F8F8
    display: none
.wraper-sections > section:nth-child(1)
    div
        display: flex
        flex-direction: row
        .text-wraper
            display: flex
            align-items: center
            justify-content: center
            flex-grow: 1
            .text
                display: flex
                flex-direction: column
                p
                .btn
        .images


.wraper-sections > section:nth-child(2)
.wraper-sections > section:nth-child(3)
.wraper-sections > section:nth-child(4)

.current
    display: block

