*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face
    font-family: 'BubbleGum'
    src: url('../Bubblegum.ttf')


@import _header

.container
    min-height: 722px
    min-width: 320px
    background-color: #F8F8F8
.container-menu
    min-height: 100vh
    height: 100vh
    overflow: hidden
@media screen and ( min-width:  700px)
    .container-menu
        min-height: 722px
        height: auto
        overflow: auto



.section
    min-height: 722px
    height: 100vh
.pressed-tab
    text-decoration: underline

@import _sectionBook
@import _sectionContact
@import _menu


